<div id="page-wrap">
  <header class="two-columns">
    <div id="photo" class="left-column">
      <img src="{{ gravatar contact.email }}">
    </div>
    <div id="name-contacts-wrap" class="right-column">
      <h1 id="name">{{ name }}</h1>
      <div id="contacts">
        <div class="emoji-container">
          <a class="contact emoji emoji-github" href="http://github.com/{{ contact.github }}">
            github.com/{{ contact.github }}
          </a>
        </div>
        <div class="emoji-container">
          <a class="contact emoji emoji-email" href="{{ contact.email }}">
              {{ contact.email }} 
          </a>
        </div>
        <div class="emoji-container">
          <p class="contact emoji emoji-cell">
            {{ contact.cell }}
          </p>
        </div>
        <div class="emoji-container">
          <p class="contact emoji emoji-location">
            {{ contact.location }}
          </p>
        </div>
      </div>
    </div>
  </header>

  <p id="objective">{{{ objective }}}</p>

  <div class="two-columns">
    <div class="left-column">
      <h2>Work Experience</h2>
    </div>
    <div class="right-column border-left">
      {{#each experience }}
        <div class="experience">
          <p class="time-line">
            <span class="experience-period-start">{{{ period.start }}}</span>
            &middot;&middot;&middot;
            <span class="experience-period-end">{{{ period.end }}}</span>
          </p>
          <h3><a href="{{ employer.href }}">{{{ employer.name }}}</a>, {{{ title }}}</h3>
          <ul>
            {{#each items }}
            <li>{{{ this }}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="two-columns">
    <div class="left-column">
      <h2>Skills</h2>
      <ul id="language-graph">
        {{#each skills.languages }}
        <li id="language-{{ selector }}">
          <span class="language-name">{{ name }}</span> <span class="language-years">({{ years }} years)</span>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="right-column border-left">
      <ul>
        {{#each skills.items}}
        <li>{{{ this }}}</li>
        {{/each}}
    </div>
  </div>

  <div class="two-columns">
    <div class="left-column">
      <h2>Education</h2>
    </div>
    <div class="right-column border-left">
      <p class="time-line">{{{ education.year }}}</p>
      <h3><a href="{{ education.university.href }}">{{{ education.university.name }}}</a></h3>
      <ul>
        <li>{{{ education.degree }}}</li>
        <li>Thesis: <a href="{{ education.thesis.href }}">{{{ education.thesis.title }}}</a></li>
      </ul>
    </div>
  </div>

  <footer class="big no-mobile no-print">
    <div id="print-button">
    <p class="emoji-container">
      <a class="emoji emoji-see-no-evil" href="javascript:window.print()">
        Print
      </a>
    </p>
    </div>
  </footer>

  <footer class="small no-mobile no-print">
    This page has been built using <a href="http://code.google.com/p/crypto-js/">crypto-js</a>, <a href="http://zeptojs.com/">zepto.js</a>, <a href="http://handlebarsjs.com/">handlebars</a>, <a href="https://github.com/jgraichen/sprockets-standalone">sprockets-standalone</a> and <a href="https://github.com/github/gemoji">gemoji</a>. <a href="https://github.com/maltoe/resume/">Read how</a>.
  </footer>

</div> <!-- #page-wrap -->
