<div id="print-button" class="no-print">
  <p>
    <a class="button" href="javascript:window.print()">Print this</a>
  </p>
</div>

<div class="page">
  <div class="row">
    <div id="sidebar" class="left-column">
      <header id="profile">
        <h1 id="name">{{ name }}</h1>
      </header>

      <section id="intro">
        <h2>{{ job }}</h2>
        <div id="avatar" class="hidden no-print intro-subsection">
          <img src="{{ gravatar contact.email }}">
          <div id="shadow"></div>
        </div>
        <p class="intro-subsection">{{{ intro }}}</p>
      </section>

      <section id="contacts">
        <ul>
          <li>
            <i class="emoji emoji-location"></i>
            {{ contact.location }}
          </li>
          <li>
            <i class="emoji emoji-email"></i>
            <a class="contact" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </li>
          <li>
            <i class="emoji emoji-cell"></i>
            {{ contact.cell }}
          </li>
          <li>
            <i class="emoji emoji-github"></i>
            <a class="contact" href="http://github.com/{{ contact.github }}">github.com/{{ contact.github }}</a>
          </li>
        </ul>
      </section>

      <section id="skills">
        <h2>What I can offer you&hellip;</h2>
        <ul>
        {{#each skills}}
          <li>
            <p class="skill-name">{{ name }}</p>
            {{#if tiny}}
            <p class="skill-text tiny">{{{ text }}}</p>
            {{else}}
            <p class="skill-text small">{{{ text }}}</p>
            {{/if}}
          </li>
        {{/each}}
        </ul>
      </section>
    </div>

    <div id="main-content" class="right-column">
      <section id="timeline">
        <div class="timeline-header">
          <h2>Experience</h2>
        </div>
        {{#each experience}}
          <div class="timeline-item" date-is="{{ date }}">
            <p class="date">{{ date }}</p>
            <p class="employer">
              {{{ role }}} at <b><a href="{{ employer.href }}">{{{ employer.name }}}</a></b>
            </p>
            <ul class="achievements">
              {{#each items}}
              <li>{{{ this }}}</li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </section>
    </div> <!-- #main-content -->
  </div> <!-- .row -->

  <footer class="no-mobile no-print">
    <p>
    Icons made by <a href="https://www.flaticon.com/packs/interface" title="Chanut">Chanut</a>. GitHub mark by <a href="https://github.com/logos/">GitHub</a>.
    </p>
    <p>
      This page has been built using <a href="http://code.google.com/p/crypto-js/">crypto-js</a>, <a href="http://handlebarsjs.com/">handlebars</a>, and <a href="https://webpack.js.org/">webpack.js</a>.
    </p>
    <p>
      <a class="button" href="https://github.com/maltoe/resume/">Read how</a>
    </p>
  </footer>

</div> <!-- .page -->
